.job-seeker-name {
  background: #ffffff;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: #333399;
  padding-left: 7px;
  padding-top: 16px;
  padding-bottom: 3.5px;
}

.info-header {
  background-color: #D9EDF7;
  color: #333333;
  font-weight: bold;
}

table {
  width: 100%;
}

table,
thead,
tbody,
th,
tr,
td {
  text-align: center;
}
