<div class="row mx-n4 my-4">
  <div class="col-sm-12 col-md-12 col-xl-11 m-auto">
    <div class="card card-info">
      <div style="background-color: #546E7A; color: white" class="card-header">
        <span><i class="fa fa-eye"></i> View Resume</span>
        <a style="cursor: pointer; float: right;" routerLink="/user/dashboard/edit" title="Edit">
          <i class="fa fa-edit fa-lg"></i></a>
        <a style="float: right; padding-right: 10px;" href="/" title="PDF Download"><i class="fa fa-file-pdf fa-lg text-danger"
            aria-hidden="true"></i></a>
      </div>
      <div class="card-body" *ngIf="user">
        <div class="row border rounded">
          <div class="col-md-10 col-sm-9">
            <div class="row job-seeker-name">{{ user.name }}</div>
            <div class="row">
              <div class="col-4">Address</div>
              <div class="col-1">:</div>
              <div class="col" *ngIf="user.currentAddress">{{ user.currentAddress['street'] }}, {{
                user.currentAddress['city'] }}, {{
                user.currentAddress['zipCode'] }}.</div>
            </div>
            <div class="row">
              <div class="col-4">Mobile No.</div>
              <div class="col-1">:</div>
              <div class="col">+880 {{ user.phone }}</div>
            </div>
            <div class="row">
              <div class="col-4">Email</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.email }}</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <img class="p-1" width="100%" src="https://mybdjobs.bdjobs.com/mybdjobs/images/male.png" alt="{{ user. name }}" />
          </div>
        </div>

        <!-- Personal Information -->
        <div class="row d-block info-header rounded mt-2 p-2">
          Personal Information
        </div>
        <div class="row border rounded">
          <div class="col-12">
            <div class="row">
              <div class="col-5 text-right">Father's Name</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.fatherName }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Mother's Name</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.motherName }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Birth Date</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.birthDate | date }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Gender</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.gender }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Marital Status</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.maritalStatus }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Nationality</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.nationality }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">National ID No.</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.nid }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Religion</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.religion }}</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Current Address</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.currentAddress['street'] }}, {{ user.currentAddress['city'] }}, {{
                user.currentAddress['zipCode'] }}.</div>
            </div>
            <div class="row">
              <div class="col-5 text-right">Permanent Address</div>
              <div class="col-1">:</div>
              <div class="col">{{ user.permanentAddress['street'] }}, {{ user.permanentAddress['city'] }}, {{
                user.permanentAddress['zipCode'] }}.</div>
            </div>
          </div>
        </div>

        <!-- Academic Information -->
        <div class="row d-block info-header rounded mt-2 p-2">
          Academic Qualification
        </div>

        <div class="row border rounded">
          <table class="table table-bordered" *ngIf="user.academicInfo">
            <thead>
              <th>Exam Title</th>
              <th>Concentration/Major</th>
              <th>Institute</th>
              <th>Result</th>
              <th>Pas.Year</th>
              <th>Duration</th>
              <th>Board/University</th>
            </thead>
            <tbody>
              <tr *ngFor="let eduInfo of user.academicInfo">
                <td>{{ eduInfo.examTitle }}</td>
                <td>{{ eduInfo.major }}</td>
                <td>{{ eduInfo.institute }}</td>
                <td>{{ eduInfo.result }}</td>
                <td>{{ eduInfo.passingYear }}</td>
                <td>{{ eduInfo.duration }}</td>
                <td>{{ eduInfo.board }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Work Experience -->
        <div class="row d-block info-header rounded mt-2 p-2">
          Work Experience
        </div>
        <div class="row border rounded">
          <table class="table table-bordered" *ngIf="user.workExperience">
            <thead>
              <th>Organization Name</th>
              <th>Position</th>
              <th>Join Date</th>
              <th>Resign Date</th>
              <th>Salary</th>
            </thead>
            <tbody>
              <tr *ngFor="let workInfo of user.workExperience">
                <td>{{ workInfo.orgName }}</td>
                <td>{{ workInfo.position }}</td>
                <td>{{ workInfo.joinDate }}</td>
                <td>{{ workInfo.resignDate }}</td>
                <td>{{ workInfo.salary | currency:"BDT " }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Skills -->
        <div class="row d-block info-header rounded mt-2 p-2">
          Skills
        </div>
        <div *ngIf="user.skills" class="row border rounded">
          <div class="p-3 text-center">
            <span *ngFor="let skill of user.skills; let i=index"><span *ngIf="i">,</span> {{ skill }}</span>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="row d-block info-header rounded mt-2 p-2">
          Contact Information
        </div>
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <th>Contact Name</th>
              <th>Contact</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Email
                </td>
                <td> {{ user.email }} </td>
              </tr>
              <tr>
                <td>
                  Phone
                </td>
                <td> +880 {{ user.phone }}</td>
              </tr>
              <tr *ngFor="let contactInfo of user.contactInfo">
                <td>{{ contactInfo.contactName }}</td>
                <td>{{ contactInfo.contact }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
