@import "./assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./assets/scss/globals";
@import "./assets/scss/utilities";

@import "./assets/scss/navs.scss";
@import "./assets/scss/error.scss";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/ngx-toastr/toastr-bs4-alert.scss";

#toast-container>div {
  opacity: 1;
}

.toast-top-right {
  margin-top: 60px;
}

.nav-item:hover,
.dropdown-item:hover {
  cursor: pointer;
}
