<div id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- Website Logo -->
      <a style="cursor: pointer;" class="navbar-brand" routerLink="/" routerLinkActive="active">Navbar</a>

      <!-- Navbar Collapse button for mobile view -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- main navbar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Nav for all -->
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Employers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-phone"></i> Contact Us</a>
          </li>
        </ul>

        <!-- Nav for users -->
        <ul class="nav navbar-nav ml-auto">
          <li *ngIf="!isJobSeekerLoggedIn && !isEmployerLoggedIn && !isAdminLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/register"><i class="fa fa-user-plus"></i> Register</a>
          </li>
          <li *ngIf="!isJobSeekerLoggedIn && !isEmployerLoggedIn && !isAdminLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login"><i class="fa fa-user"></i> Login</a>
          </li>

          <!-- Job Seekers Drop-down menu -->
          <li *ngIf="isJobSeekerLoggedIn" class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#"
              role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bell"><sup class="badge text-white bg-primary">4</sup></i></a>
            <div class="dropdown-menu n-width">
              <div class="dropdown-item" *ngFor="let notification of notifications">{{
                notification }}</div>
            </div>
          </li>

          <li *ngIf="isJobSeekerLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-user"></i> {{ userName }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/"><i class="fa fa-edit"></i> Edit Resume</a>
              <a class="dropdown-item" href="/"><i class="fa fa-address-card"></i> View Resume</a>
              <a class="dropdown-item" href="/"><i class="fa fa-envelope"></i> Email Resume</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/"><i class="fa fa-address-book"></i> Following Employees</a>
              <a class="dropdown-item" href="/"><i class="fa fa-user-md"></i> Applied Jobs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/"><i class="fa fa-key"></i> Change Password</a>
              <a class="dropdown-item" href="/"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
          </li>

          <!-- Employer Drop-down menu -->
          <li *ngIf="isEmployerLoggedIn" class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#"
              role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bell"><sup class="badge text-white bg-primary">4</sup></i></a>
            <div class="dropdown-menu">
              <div class="dropdown-item" *ngFor="let notification of notifications">{{ notification }}</div>
            </div>
          </li>

          <li *ngIf="isEmployerLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-user"></i> {{ userName }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/"><i class="fa fa-user-secret"></i> Profile</a>
              <a class="dropdown-item" href="/"><i class="fa fa-edit"></i> Edit Profile</a>
              <a class="dropdown-item" href="/"><i class="fa fa-key"></i> Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/"><i class="fa fa-plus-square"></i> Post Job</a>
              <a class="dropdown-item" href="/"><i class="fa fa-address-book"></i> Applied Employees</a>
              <a class="dropdown-item" href="/"><i class="fa fa-user-md"></i> Posted Jobs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
          </li>

          <!-- Admin Drop-down menu -->

          <li *ngIf="isAdminLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-user"></i> {{ userName }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/"><i class="fa fa-user-secret"></i> Dashboard</a>
              <a class="dropdown-item" href="/"><i class="fa fa-edit"></i> Edit Profile</a>
              <a class="dropdown-item" href="/"><i class="fa fa-key"></i> Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
