#search-wrapper {
  min-height: 400px;
  background: #fff url("../../assets/images/bg-search.jpg") no-repeat center fixed;
  background-size: cover;
}

.text-carousel {
  width: 100%;
  margin: auto;
}

.stats {
  color: white;
}
