<div class="row" *ngIf="jobs">
  <div class="col-md-6 col-sm-12 my-3" *ngFor="let job of jobs">
    <mat-card>
      <mat-card-header>
        <mat-card-title><a routerLink="jobs/{{job._id}}">{{ job.jobTitle }}</a></mat-card-title>
        <mat-card-subtitle>{{ job.company }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="pl-3">Job Location : {{ job.location }}</div>
        <div class="pl-3">Job Type : {{ job.type | titlecase }}</div>
        <div class="pl-3">Deadline: {{ job.deadline }}</div>
        <button mat-raised-button color="primary" class="ml-3">Apply</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
