<div class="mx-auto my-3">
  <mat-tab-group mat-stretch-tabs class="rounded mat-elevation-z4">
    <!-- Personal Information  -->
    <mat-tab label="Personal">
      <div class="m-3">
        <form
          class="mx-auto"
          [formGroup]="profileForm"
          (ngSubmit)="onSubmitProfileForm()"
          role="form"
          autocomplete="off"
        >
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                formControlName="name"
              />
              <mat-hint>Enter Your Name</mat-hint>
              <mat-error *ngIf="name.invalid && name.errors.required">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                formControlName="email"
              />
              <mat-hint>Enter Your Email</mat-hint>
              <mat-error *ngIf="email.invalid && email.errors.required">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="email.invalid && email.errors.email">
                Enter valid email address.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                type="text"
                name="phone"
                id="phone"
                placeholder="Phone"
                formControlName="phone"
              />
              <mat-hint>Enter Your Phone Number: 01XXXXXXXXX</mat-hint>
              <mat-error *ngIf="phone.invalid && phone.errors.required">
                Phone is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="phone.invalid && phone.errors.pattern">
                Enter valid phone number.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-4">
            <div class="col float-left">
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="!profileForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>

    <!-- Change Profile Picture -->
    <mat-tab label="Profile Image">
      <div class="card m-auto p-5">
        <!-- <div class="mx-auto my-3 p-2" *ngIf="employer.imagePath">
          <img height="150px" src="{{employer.imagePath}}" alt="{{employer.name}}">
        </div> -->
        <p class="mx-auto row">{{ fileName }}</p>
        <button
          class="mx-auto row"
          mat-stroked-button
          color="accent"
          type="button"
          (click)="filePicker.click()"
        >
          {{ changeFileText }}
        </button>

        <input
          [formControl]="profileImage"
          type="file"
          #filePicker
          (change)="onChangeImage($event)"
        />
        <button
          class="row"
          (click)="onImageUpload()"
          class="mx-auto my-3"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Upload
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Change Password">
      <div class="m-3">
        <form
          [formGroup]="passwordForm"
          (ngSubmit)="onPasswordFormSubmit()"
          role="form"
          autocomplete="off"
        >
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                [type]="formHelpers.hide ? 'password' : 'text'"
                name="oldPassword"
                id="oldPassword"
                placeholder="Old Password"
                formControlName="oldPassword"
                required
              />
              <mat-icon
                matSuffix
                (click)="formHelpers.hide = !formHelpers.hide"
                >{{
                  formHelpers.hide ? "visibility_off" : "visibility"
                }}</mat-icon
              >
              <mat-hint>Enter Your Old Password</mat-hint>
              <mat-error
                *ngIf="oldPassword.invalid && oldPassword.errors.minlength"
              >
                Password must be at least 6 characters long.
              </mat-error>
              <mat-error
                *ngIf="oldPassword.invalid && oldPassword.errors.required"
              >
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="oldPassword.invalid && oldPassword.errors.pattern"
              >
                Password can't contain space characters.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                [type]="formHelpers.hide ? 'password' : 'text'"
                name="newPassword"
                id="newPassword"
                placeholder="New Password"
                formControlName="newPassword"
                required
              />
              <mat-icon
                matSuffix
                (click)="formHelpers.hide = !formHelpers.hide"
                >{{
                  formHelpers.hide ? "visibility_off" : "visibility"
                }}</mat-icon
              >
              <mat-hint>Enter Your New Password</mat-hint>
              <mat-error
                *ngIf="newPassword.invalid && newPassword.errors.minlength"
              >
                Password must be at least 6 characters long.
              </mat-error>
              <mat-error
                *ngIf="newPassword.invalid && newPassword.errors.required"
              >
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="newPassword.invalid && newPassword.errors.pattern"
              >
                Password can't contain space characters.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                [type]="formHelpers.hide ? 'password' : 'text'"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                required
              />
              <mat-icon
                matSuffix
                (click)="formHelpers.hide = !formHelpers.hide"
                >{{
                  formHelpers.hide ? "visibility_off" : "visibility"
                }}</mat-icon
              >
              <mat-hint>Enter Your Old Password</mat-hint>
              <mat-error
                *ngIf="
                  confirmPassword.invalid && confirmPassword.errors.minlength
                "
              >
                Password must be at least 6 characters long.
              </mat-error>
              <mat-error
                *ngIf="
                  confirmPassword.invalid && confirmPassword.errors.required
                "
              >
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  confirmPassword.invalid && confirmPassword.errors.pattern
                "
              >
                Password can't contain space characters.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-3">
            <div class="col float-left">
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="!passwordForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Update Company">
      <div class="m-3">
        <form
          [formGroup]="companyForm"
          (ngSubmit)="onSubmitCompanyForm()"
          role="form"
          autocomplete="off"
        >
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                type="text"
                name="companyName"
                id="companyName"
                placeholder="Company Name"
                formControlName="companyName"
              />
              <mat-hint>Enter Company Name</mat-hint>
              <mat-error
                *ngIf="companyName.invalid && companyName.errors.required"
              >
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <mat-label>Company Location</mat-label>
              <mat-select
                name="location"
                id="location"
                formControlName="location"
              >
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let cl of companyLocations" [value]="cl">{{
                  cl | titlecase
                }}</mat-option>
              </mat-select>
              <mat-hint>Select Company Location</mat-hint>
              <mat-error *ngIf="location.invalid && location.errors.required">
                Location is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <mat-label>Company Type</mat-label>
              <mat-select
                name="companyType"
                id="companyType"
                formControlName="companyType"
              >
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let ct of companyTypes" [value]="ct">{{
                  ct | titlecase
                }}</mat-option>
              </mat-select>
              <mat-hint>Select Company Type</mat-hint>
              <mat-error
                *ngIf="companyType.invalid && companyType.errors.required"
              >
                Company Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <mat-label>Industry Type</mat-label>
              <mat-select
                name="industryType"
                id="industryType"
                formControlName="industryType"
              >
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let it of industryTypes" [value]="it">{{
                  it | titlecase
                }}</mat-option>
              </mat-select>
              <mat-hint>Select Industry Type</mat-hint>
              <mat-error
                *ngIf="industryType.invalid && industryType.errors.required"
              >
                Industry Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-4">
            <mat-form-field class="form-field col-6">
              <input
                matInput
                type="number"
                name="minEmployee"
                id="minEmployee"
                placeholder="Minimum Employee"
                formControlName="minEmployee"
              />
              <mat-hint>Minimum Employee</mat-hint>
              <mat-error
                *ngIf="
                  minEmployee.invalid &&
                  (minEmployee.required || minEmployee.min || minEmployee.max)
                "
              >
                Must be between 1 and 100000
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field col-6">
              <input
                matInput
                type="number"
                name="maxEmployee"
                id="maxEmployee"
                placeholder="Maximum Employee"
                formControlName="maxEmployee"
              />
              <mat-hint>Maximum Employee</mat-hint>
              <mat-error
                *ngIf="
                  maxEmployee.invalid &&
                  (maxEmployee.required || maxEmployee.min || maxEmployee.max)
                "
              ></mat-error>
            </mat-form-field>
          </div>

          <div class="row my-4">
            <mat-form-field class="form-field col-12">
              <input
                matInput
                type="url"
                name="website"
                id="website"
                placeholder="Website"
                formControlName="website"
              />
              <mat-hint>Enter Company Website</mat-hint>
              <mat-error *ngIf="website.invalid">
                Enter valid url.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row my-3">
            <div class="col float-left">
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="!companyForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
